footer{
  background-color: #343a40 !important;
  color: rgba(255,255,255,.75);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%  !important;
  min-width: 20%;
  height: 8%;
  text-align: center;
  max-width: 100%;
  box-sizing:border-box;
  overflow: hidden;
  padding: 0pt;
}
body {
    padding-bottom: 120px;
}
.row{
  box-sizing:border-box;
  margin: 0pt
}
@media screen and (max-width:600px){
  .mobile{
    max-width:100%;
  }
    .text-alig{
      text-align: center;
    }

  .container {
    max-width:100%;
    width: 100%;
  }
}
