footer{
  background-color: #343a40 !important;
  color: rgba(255,255,255,.75);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 20%;
  height: 7%;
  text-align: center;
  max-width: 100%;
  box-sizing:border-box;
  overflow: hidden;
  padding: 0pt;
}
body {
    padding-bottom: 120px;
}

@media screen and (max-width:600px){
  .mobile{
    width: auto;
    max-width:95%;
  }
  .container {
    max-width:95%;
    width: 95%;
  }
}
