@media only screen and (max-width: 600px) {
  .navbar-brand{
    font-size: 1rem;
  }
  .nav-link{
    padding-left: 10px !important;
}

}
#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}

#popup {
    max-width: 600px;
    width: 80%;
    max-height: 100px;
    height: 80%;
    padding: 20px;
    position: relative;
    background: rgba(255,255,255,80%);
    margin: 50px auto;
}
#popup h2 {
  text-align:left;
  color:black;
  font-size: 98%;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
}
