h1,h2,h3,h4,h5, p{
  color:white;
}

.table td, .table th{
  vertical-align:middle;
  border-top: 10px solid rgba(0, 0, 0, 50%);
}
.table{
  background-color: rgba(0, 0, 0, 20%);
  color: white;
}
.btn{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
}


.center-msg-box{
  padding: 1%;
  align-items: : center;

  width: 90%
}
.row{
  margin:1%;

}
.allign_center{
  align-self: center;
}
