.col-12 {
    background-color: rgba(255,255,255,40%);
  }

table {
  max-width: 90%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: rgba(255,255,255,40%);
}
th {
  background: rgba(255,255,255,40%);
  color: black;
  font-weight: bold;
}
td, th {
  padding: 6px;
  text-align: left;
}


  @media only screen and (max-width: 760px)  {

  	/* Force table to not be like tables anymore */
  	table, thead, tbody, th, td, tr {
  		display: block;
  	}

  	/* Hide table headers (but not display: none;, for accessibility) */
  	thead tr, th {
  		position: absolute;
  		top: -9999px;
  		left: -9999px;
  	}

  	tr { border: 1px solid #ccc; }

  	td {
  		/* Behave  like a "row" */
  		border: none;

  		border-bottom: 1px solid #eee;
  		position: relative;
  		padding-left: 50% !important;
  	}

  	td:before {
  		/* Now like a table header */
  		position: absolute;
  		/* Top/left values mimic padding */
  		top: 6px;
  		left: 6px;
  		width: 45%;
      padding: 0pt;

  		padding-right: 10px;
  		white-space: nowrap;
  	}

  	/*
  	Label the data
  	*/
  	td:nth-of-type(1):before { content: "Nome"; }
  	td:nth-of-type(2):before { content: "Cognome"; }
  	td:nth-of-type(3):before { content: "Email"; }
  	td:nth-of-type(4):before { content: "Elimina"; }
    td:nth-of-type(5):before { content: " "; }

  }
